
<div class="position-fixed">
    <ul class="noktasiz">
        <li class=""><a class="link" href="/user"><i class="fa fa-user-circle"></i> &nbsp;Profile</a></li>
        <hr />
        <li class=""><a class="link" href="#"><i class="fa fa-newspaper-o"></i> &nbsp;News</a></li>
        <li class=""><a class="link" href="#"><i class="fa fa-comment"></i> &nbsp;Messenger</a></li>
        <hr />
        <b><span>KısaYollar</span></b>
        <li class=""><a class="link" href="#"><i class="fa fa-pagelines"></i> &nbsp;YBS</a></li>
        <li class=""><a class="link" href="#"><i class="fa fa-angle-left"></i> &nbsp;Hukuk</a></li>
        <li class=""><a class="link" href="#"><i class="fa fa-apple"></i> &nbsp;AOG</a></li>
        <li class=""><a class="link" href="#"><i class="fa fa-search"></i> &nbsp;Deneme</a></li>
        <hr />
        <b><span>Keşfet</span></b>
        <li class=""><a href="#"><i class="fa fa-users"></i> &nbsp;Gruplar</a></li>
        <li class=""><a href="#"><i class="fa fa-newspaper-o"></i> &nbsp;Sayfalar</a></li>
        <li class=""><a href="#"><i class="fa fa-frown-o"></i> &nbsp;Arkadaşlar</a></li>
    </ul>
</div>