<div class="card mb-2">
    <div class="card-header">
        Friends
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <img src="http://keenthemes.com/preview/metronic/theme/assets/pages/media/profile/profile_user.jpg" alt="" class="img-thumbnail"/>
            </div>
            <div class="col-md-6">
                <img src="http://www.lefconevis.com/wp-content/uploads/2016/05/profile-orville-liburd.jpg" alt="" class="img-thumbnail"/>
            </div>
            <div class="col-md-6">
                <img src="http://www.lefconevis.com/wp-content/uploads/2016/05/profile-orville-liburd.jpg" alt="" class="img-thumbnail"/>
            </div>
            <div class="col-md-6">
                <img src="http://keenthemes.com/preview/metronic/theme/assets/pages/media/profile/profile_user.jpg" alt="" class="img-thumbnail"/>
            </div>
        </div>
    </div>
</div>